{% extends "base.html" %}

{% block content %}

    <div class="container">
        <div class="row">
        <div class="col-xs-3 col-xs-offset-3">
                    <div>
                        <p>账号：{{ user.username }}</p>
                        <p> 昵称：{{ user.nickname}}<a href="{% url 'change_nickname' %}?from={{ request.get_full_path }}">修改昵称</a></p>
                        <p>邮件：{{ user.email }}<a href="{% url 'change_email' %}">绑定邮箱</a></p>
                        <p>上次登陆：{{ user.last_login }}</p>
                        <p>账号创建时间：{{ user.date_joined }}</p>
                    </div>


        </div>

    </div>
</div>

{% endblock %}

{% block n_bar %}
    我的消息
{% endblock %}

{% block n_bar1 %}
    我的博客
{% endblock %}

{% block n_bar2 %}
    个人中心
{% endblock %}